{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = title %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title_addition, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}

<div class="home">
  <div class="home-background">
    <div class="wrap container" role="document">
      <div class="content">
        <section class="section container-fluid mt-n3 pb-3">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <h1 class="mt-0">{{ section.title | default(value="Modern Documentation Theme") | safe }}</h1>
            </div>
            <div class="col-lg-9 col-xl-8 text-center">
              <img id="contact" src='{{ section.extra.lead | default(value="Please start setting config.toml and adding your content.") | safe }}'>
                <br>
              <br>
                <a style="width: 15rem" class="btn btn-primary btn-lg px-4 mb-2" href="{{ get_url(path=section.extra.url | default(value="/")) | safe }}" role="button">{{ section.extra.url_button | default(value="") | safe }}</a>
              <br>
              <h2>Szkolenia:</h2>
                  <a style="width: 16rem" class="btn btn-primary btn-lg px-4 mb-2" href="https://patrykpalej.netlify.app/docs/oferta-szkolen/#python-spis-tresci" role="button">Python</a>
                  <br>
                  <br>
                  <a style="width: 16rem; opacity: 0.5;" class="btn btn-primary btn-lg px-4 mb-2" href="https://patrykpalej.netlify.app/docs/o-mnie" role="button">Data Science</a>
                  <br>
                  <br>
{#                  <a style="width: 16rem" class="btn btn-primary btn-lg px-4 mb-2" href="https://patrykpalej.netlify.app/docs/o-mnie" role="button">Machine Learning</a>#}
{#                  <br>#}
{#                  <br>#}
{#                  <a style="width: 16rem" class="btn btn-primary btn-lg px-4 mb-2" href="https://patrykpalej.netlify.app/docs/o-mnie" role="button">Bazy danych</a>#}
{#                  <br>#}
{#                  <br>#}
{#                  <a style="width: 16rem; opacity: 0.5;" class="btn btn-primary btn-lg px-4 mb-2" href="https://patrykpalej.netlify.app/docs/oferta-szkolen/#python-spis-tresci" role="button">Pozyskiwanie danych</a>#}
{#                  <br>#}
{#                  <br>#}
{#                  <a style="width: 16rem; opacity: 0.5;" class="btn btn-primary btn-lg px-4 mb-2" href="https://patrykpalej.netlify.app/docs/oferta-szkolen/#python-spis-tresci" role="button">Git</a>#}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% if config.extra.home_graph %}
  <div id="graph"></div>
{% endif %}

</div>

{% block footer %}
  {{ macros_footer::footer() }}
{% endblock footer %}

{% if config.extra.home_graph %}
  {{ macros_graph::graph_js() }}
{% endif %}

{% endblock content %}
